
.table-container {
  font-family: Arial, sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  text-align: left;
}

tbody tr:hover {
  background-color: #f2f2f2;
}

.pagination {
  margin-top: 10px;
}

.pagination button {
  background-color: #4CAF50;
  color: white;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #45a049;
}

.pagination span {
  padding: 8px 16px;
}

.formContainer {
  max-width: 400px;
  margin: 0 auto;
}

.formField {
  margin-bottom: 10px;
}

.formButton {
  margin-top: 20px;
}
.MuiModal-root{
  background: aquamarine !important;
  height: 400px !important;
  width: 460px !important;
  padding-top: 100px !important;
  
}
.MuiFormControl-root{
  margin-bottom: 15px !important;
}